/* animations.css */
@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}


@keyframes floatUpDown {
    0% {
        transform: translateY(0);  /* Initial position */
    }
    50% {
        transform: translateY(-10px);  /* Move up */
    }
    100% {
        transform: translateY(0);  /* Return to original position */
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes moveUp {
    0% {
      transform: translateY(0); /* Starting position */
    }
    100% {
      transform: translateY(-100%); /* Move up by 100px */
    }
}
  
  
@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


@keyframes blink {
    0% {
      opacity: 1; /* Fully visible */
    }
    50% {
      opacity: 0; /* Invisible at halfway point */
    }
    100% {
      opacity: 1; /* Visible again */
    }
  }
@keyframes slideInBounce {
    0% {
        transform: translateX(-100%); /* Start off-screen */
    }
    60% {
        transform: translateX(30px); /* Slide in and overshoot a bit */
    }
    80% {
        transform: translateX(-15px); /* Move back a little, creating the bounce */
    }
    100% {
        transform: translateX(0); /* Final position */
    }
}

